#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias code="cd ~/code"
alias g="git"
alias gpom='git pull origin master'
alias glo='git log --pretty=oneline'
alias gbr='git branch'

source .aliases_adb
source .aliases_soundcloud