#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias code="cd ~/code"
alias g="git"
alias gpom='if [ `git rev-parse --verify main 2>/dev/null` ]; then echo "pulling main ..."; git pull origin main; else echo "pulling master ..."; git pull origin master; fi'
alias glo='git log --pretty=oneline'
alias gbr='git branch'

source .aliases_adb
source .aliases_soundcloud
