#!/usr/bin/env bash

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTTIMEFORMAT="%d/%m %T "
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Use NFS mounts together with Docker Desktop for better performance
export CRUN_NFS=1

export JAVA_HOME=$(/usr/libexec/java_home)
export ANDROID_HOME="$HOME/Library/Android/sdk"
export ANDROID_NDK_r11c="$HOME/Library/Android/ndk"
export ANDROID_NDK_r17="$HOME/Library/Android/android-ndk-r17c"
export ANDROID_NDK_r17c="$HOME/Library/Android/android-ndk-r17c"

source .exports_soundcloud

export PATH="$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools:$ANDROID_HOME/emulator:$ANDROID_HOME/tools/bin:$PATH"